@import url('https://fonts.googleapis.com/css?family=Indie+flower');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body{
    font-family: 'Indie Flower', cursive !important;
    background-color:#FDE3A7;
    margin:0px;
    padding:0px;
    height: 100vh;
    width: 100vw;

}


::selection{
    background:transparent;
}

h4{
    font-size: 26px;
    line-height: 1px;
    font-family: 'Amatic SC', cursive !important;
}

.text{
    font-size:20px;
    font-style: italic;
}

.text2{
    margin-top: 20px;
    text-align: center;
    font-size:25px;
}

.color1{
    color:#1BBC9B;

}

.color2{
    color:#C0392B;
}

.card{
    color:#013243;
    position:absolute;
    top: 50%;
    left:50%;
    width: 300px;
    height: 400px;
    background-color: #e0e1dc;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%) perspective(2000px);
    box-shadow: inset 300px 0 50px rgba(0, 0,0, 0.5), 20px 0 60px rgba(0, 0,0, 0.5);
    transition: 1s;
}

/* hover vào, card quay 15 độ, biến bự them 1.2 */
.card:hover{
    transform: translate(-50%,-50%) perspective(2000px) rotate(15deg) scale(1.2);
    box-shadow: inset 20px 0 50px rgba(0, 0,0, 0.5), 0 10px 100px rgba(0, 0,0, 0.5);
     
}


/* viền top  */
.card:before{  
    content: '';
    position: absolute;
    top: -5px;
    left:0;
    width: 100%;
    height: 5px;
    background:#bac1ba;
    transform-origin: bottom;
    transform: skewX(-5deg);

}

/*viền side*/
.card:after{
    content: '';
    position: absolute;
    top:0;
    right: -5px;
    width: 5px;
    height: 100%;
    background: #92A29C;
    transform-origin: left;
    transform: skewY(-45deg);
}

.card .imgBox{
    width: 100%;
    height: 100%;
    position: relative;
    transform-origin: left;
    transition: 0.7s;

    
}


/* back is the back of the front */

.card .bark{
    position:absolute;
    background: #e0e1dc;
    width: 100%;
    height: 100%;
    opacity:0;
    transition: 0.7s;
}

.card .imgBox img{
    min-width: 250px;
    max-height: 400px;
}

.card:hover .imgBox{
    transform: rotateY(-135deg);
}

.card:hover .bark{
    opacity: 1;
    transition: 3s;
    box-shadow: 300px 200px 100px rgba(0, 0,0, 0.4) inset;

}

.card .details{
    position: absolute;
    top:0;
    left: 0;
    box-sizing: border-box;
    padding: 0 0 0 10px;
    z-index: -1;
    margin-top: 70px;
}

.card .details h4{
    text-align: center;
}


.text-right{
    text-align: right;
}




/* @media(min-width:421px) and (max-width: 896px){ */
    @media(min-width:421px) and (max-width: 896px){
    body{
        background-color: blue;
    }

    .card{
        scale: 0.5;
        top:28%;
        left: 50%;
    }
}



.coverImage{
    height: 100%;
    width: 100%;
}