@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
 

body{
    font-family: 'Indie Flower', cursive !important;
    background-color:rgb(35, 37, 136);
    margin:0px;
    padding:0px;
    height: 100vh;
    width: 100vw;

}


::selection{
    background:transparent;
}


.text{
    font-size:20px;
    font-style: italic;
    font-weight: bolder;

}

.text2{
    font-weight: bolder;
    margin-top: 20px;
    text-align: center;
    font-size:30px;
    background-image: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background-size:100%;
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

}

.color1{
    color:#1BBC9B;

}

.color2{
    color:#C0392B;
}

.card{
    color:#013243;
    position:absolute;
    top: 50%;
    left:50%;
    width: 300px;
    height: 400px;
    background-color: #e0e1dc;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%) perspective(2000px);
    box-shadow: inset 300px 0 50px rgba(0, 0,0, 0.5), 20px 0 60px rgba(0, 0,0, 0.5);
    transition: 1s;
}


/* top edge card  */
.card:before{  
    content: '';
    position: absolute;
    top: -5px;
    left:0;
    width: 100%;
    height: 5px;
    background:#bac1ba;
    transform-origin: bottom;
    transform: skewX(-5deg);

}

/*side edge card*/
.card:after{
    content: '';
    position: absolute;
    top:0;
    right: -5px;
    width: 5px;
    height: 100%;
    background: #92A29C;
    transform-origin: left;
    transform: skewY(-45deg);
}

.card .imgBox{
    width: 100%;
    height: 100%;
    position: relative;
    transform-origin: left;
    transition: 0.7s;

    
}


/* bark is the back of the imgBox */

.card .bark{
    position:absolute;
    background: #e0e1dc;
    width: 100%;
    height: 100%;
    opacity:0;
    transition: 0.1s;
}

.card .imgBox img{
    min-width: 250px;
    max-height: 400px;
}

 

.card .details{
    position: absolute;
    top:0;
    left: 0;
    box-sizing: border-box;
    padding: 0 0 0 10px;
    z-index: -1;
    margin-top: 70px;
}

 


 




   /* Landscape view on mobile */
    @media(min-width:421px) and (max-width: 896px){
    body{
        /* FDE3A7 */
        background-color: rgb(47, 49, 157);

        /* rgb(181, 90, 90) */
    }

    .card{
        scale: 0.5;
        top:28%;
        left: 50%;
    }
}
    /* Portrait view on mobile */
@media(max-width:390px) and (max-width: 844px){
    .card{
        scale:0.8
    }
     
}



.coverImage{
    height: 100%;
    width: 100%;
}




.date{
    text-align: end;
    margin-right:20px;
    font-size: 25px;
    font-weight: bolder;
}














/* toggle class for js */

.card_hover{
    transform: translate(-50%,-50%) perspective(2000px) rotate(15deg) scale(1.2);
    box-shadow: inset 20px 0 50px rgba(0, 0,0, 0.5), 0 10px 100px rgba(0, 0,0, 0.5);
}


.card_hover_imgBox{
    transform: rotateY(-135deg);
}

.card_hover_bark{
    opacity: 1 !important;
    transition: 2s !important;
    box-shadow: 300px 200px 100px rgba(0, 0,0, 0.4) inset;

}

